<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.fullgauge.sitradmobile"
        version="0.0.3">

  <name>SitradMobilePlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/Crypto.js" target="js/Crypto.js"/>

  <js-module src="www/Crypto.js" name="Crypto">
    <clobbers target="cordova.plugins.Crypto" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Crypto">
        <param name="ios-package" value="Crypto" />
      </feature>
    </config-file>

    <header-file src="src/ios/Crypto.h"/>
    <source-file src="src/ios/Crypto.m"/>
    <header-file src="src/ios/Base64.h"/>
    <source-file src="src/ios/Base64.m"/> 
  </platform>

</plugin>